.DS_Store
/.build
/.derived
/.derived-release
/dist
/Packages
.idea/
.vscode/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
